body, h1, h2, h3, h4, h5, h6, table, input, select, textarea, a {
    font-size: 12px;
    line-height: 19px;
    color: #333;
    font-family: 'Nanum Gothic', 'Verdana', AppleGothic, sans-serif;
}
.green_window {
	display: inline-block;
	width: 220px;
	height: 34px;
	border: 3px solid #8080ff;
	background: white;
	margin-left: 50px;
}

.input_text {
	width: 212px;
	height: 40px;
	margin: 0px 0 0 -10px;
	border: 2;
	line-height: 21px;
	font-weight: bold;
	font-size: 16px;
	outline: none;
}

.sch_smit {
	width: 54px;
	height: 40px;
	margin: 0;
	border: 0;
	vertical-align: top;
	background: #8080ff;
	color: white;
	font-weight: bold;
	border-radius: 1px;
	cursor: pointer;
}

.sch_smit:hover {
	background: #56C82C;
}

header {
	font-size: 15px;
	float: right;
	position: fixed;
}

header .gnb {
	width: 0%;
	background-color: white;
	text-align: right;
}

header .gnb ul {
	overflow: hidden;
	width: 2000px;
	height: 30px;
	line-height: 30px;
	margin: 0 130px 0 1650px;
	font-style: italic; /* 기울임 */
	font-weight: bold; /* 굵기 : 굵게 */
	padding: 10px;
}

header li {
	float: left;
	list-style: none;
	margin-left: 50px;
	font-size: .9em;
}

header a {
	color: #white;
	text-decoration: none;
}

header .lnb {
	overflow: hidden;
	width: 100%;
	padding: 5px;
	text-align: center; /* 가운데 정렬 */
	margin-left: 280px;
}

hr {
	margin: 50px;
	border-bottom: 2px solid #000000;
}

header .lnb ul {
	width: 35%;
	margin: 0 auto;
	font-weight: bold; /* 굵기 : 굵게 */
}

header .lnb li {
	margin: 5px;
	line-height: 25px;
}

header .lnb a {
	color: #282828;
	font-size: 1.1em;
	padding: 10px 30px;
}

header .bi h6 {
	font-size: 60px;
	padding-top: 30px; /* 여백 */
	font-weight: bold; /* 굵기 : 굵게 */
	text-align: center; /* 가운데 정렬 */
}
.sidebar ul {
	list-style: none;
	color: #ffffff;
	font-size: 15px;
	position: fixed;
	top: 0;
	left: 50px;
	width: 221px;
	padding: 10px 54px;
	z-index: 100;
	background-color: #caffff;
	font-weight: bold;
	color: #000000;
}

#qn {
	font-size: 20px;
}

.sidebar ul {
	list-style: none;
	text-decoration: none;
}
.sch_smit {
	width: 54px;
	height: 40px;
	margin: 0;
	border: 0;
	vertical-align: top;
	background: #8080ff;
	color: white;
	font-weight: bold;
	border-radius: 1px;
	cursor: pointer;
	float: right;
}
.oo {
	margin-top: 100px;
	width:2000px;
	height: 500px;
}


.button2 {
   border: 3px solid #ffffff;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
   background: -webkit-linear-gradient(top, #000000, #000000);
   background: -moz-linear-gradient(top, #000000, #000000);
   background: -ms-linear-gradient(top, #000000, #000000);
   background: -o-linear-gradient(top, #000000, #000000);
   background-image: -ms-linear-gradient(top, #000000 0%, #000000 100%);
   padding:10px 20px;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #ffffff 0 1px 0;
   color: #ffffff;
   font-size: 23px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button2:hover {
   border: 3px solid #000000;
   text-shadow: #000000 0 1px 0;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
   color: #000000;
   }
.button2:active {
   text-shadow: #ffffff 0 1px 0;
   border: 3px solid #ffffff;
   background: #1100ff;
   background: -webkit-gradient(linear, left top, left bottom, from(#1e00ff), to(#ffffff));
   background: -webkit-linear-gradient(top, #1e00ff, #1100ff);
   background: -moz-linear-gradient(top, #1e00ff, #1100ff);
   background: -ms-linear-gradient(top, #1e00ff, #1100ff);
   background: -o-linear-gradient(top, #1e00ff, #1100ff);
   background-image: -ms-linear-gradient(top, #1e00ff 0%, #1100ff 100%);
   color: #ffffff;
   }

.button {
   border: 3px solid #ffffff;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
   background: -webkit-linear-gradient(top, #000000, #000000);
   background: -moz-linear-gradient(top, #000000, #000000);
   background: -ms-linear-gradient(top, #000000, #000000);
   background: -o-linear-gradient(top, #000000, #000000);
   background-image: -ms-linear-gradient(top, #000000 0%, #000000 100%);
   padding:	5px 7px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #ffffff 0 1px 0;
   color: #ffffff;
   font-size: 20px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 3px solid #000000;
   text-shadow: #000000 0 1px 0;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
   color: #000000;
   }
.button:active {
   text-shadow: #ffffff 0 1px 0;
   border: 3px solid #ffffff;
   background: #1100ff;
   background: -webkit-gradient(linear, left top, left bottom, from(#1e00ff), to(#ffffff));
   background: -webkit-linear-gradient(top, #1e00ff, #1100ff);
   background: -moz-linear-gradient(top, #1e00ff, #1100ff);
   background: -ms-linear-gradient(top, #1e00ff, #1100ff);
   background: -o-linear-gradient(top, #1e00ff, #1100ff);
   background-image: -ms-linear-gradient(top, #1e00ff 0%, #1100ff 100%);
   color: #ffffff;
   }
.titbox {
    width: 100%;
    height: 60px;
    line-height: 40px;
    background-color: #fff;
    border: 0px solid #EFEFEF;
    margin-top: 30px;
    margin-bottom: 30px;
}
.titbox .title {
    width: 300px;
    text-align: center;
    height: 40px;
    margin: 0 auto;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
}
.titbox .title .name {
    font-weight: bold;
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
    font-family: 'Roboto','Nanum Gothic',arial;
    letter-spacing: 1px;
}
table
{
    border-collapse: collapse;
    width: 100%;
}
th, td
{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr:hover
{
    background-color: #ffffff;
}
.input {

	width:80px;
	height:50px;
}
.ok {
	width:20px;
	height:20px;
}
table {
	width:2000px;
	height:100px;
	text-align: center;

}
talbe tr{
	font-size: 50px;
}
table th{
	text-align: center;
	font-size: 25px;
}
table td{
	text-align: center;
	font-size: 20px;
}
.oo {
	margin-top: 100px;
	width:2000px;
	height: 500px;
}

#columnchart_material {
	Width:1500px;
	height:800px;
}